<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Residents</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/houses/">Rumah</a></li>
      <li><a href="/persons/">Orang</a></li>
    </ul>
  </div>
</div>

<h1>Persons#index</h1>
<table class="table table-bordered">
<thead>
  <tr class="info">
    <td>ID Rumah</td>
    <td>Nama</td>
    <td>no. KTP</td>
    <td>Tanggal Lahir</td>
    <td>Pilihan</td>
  </tr>
</thead>
<% @persons.each do |person| %>
  <tr class="warning">
    <td><%= person.houseid %></td>
    <td><%= person.name %></td>
    <td><%= person.noktp %></td>
    <td><%= person.birthdate %></td>
    <td><%= link_to 'Edit', edit_person_path(person.id) %>  |  <%= link_to 'Delete', person_path(person.id), method: "DELETE", data:{confirm: 'Delete this data ?'} %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Create New', new_person_path %>
